@font-face {
  font-family: 'nanumbarunpenr';
  src: url('../font/nanumbarunpenr.ttf');
}
html, body{
  margin: 0;
  min-width: 1100px;
  height: 100%;
  font-family: 'nanumbarunpenr'
}
a{
  color: #000;
  text-decoration: none;
}
.headerBox{
  padding: 3px;
  background-color: #fafafa;
  position: relative;
  overflow: auto;
}
.logo{
  margin-left: 5%;
  width: 130px;
  float: left;
}

.authBox{
  position: absolute;
  height: auto;
  bottom: 7px;
  right: 3%;
}
.authBox a{
  position: relative;
  margin-left: 7px;
  float: left;
  border-bottom: solid;
  border-width: 2px;
}

.navMenuBox{
  margin-top: 13px;
  margin-bottom: 13px;
  text-align: center;
}
.navMenuBox a{
  padding-bottom: 1px;
  display: inline-block;
  border-bottom: solid;
  border-width: 1px;
  margin-left: 2%;
}
.sideContentBox{
  position: relative;
  padding: 5px;
  margin-left: 7%;
  float: left;
  width: 14%;
  border: solid;
  border-color: #d6f0cc;
  border-width: 2px;
  height: 500px;
  min-height: 450px;
  background-image: url('../img/logo.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: right bottom;
  text-align: center;
}

.sideTitle{
  margin-top: 30px;
  padding-left: 4px;
  
}

.mainSection{
  width: 65%;
  margin-left: 35px;
  float: left;
  margin-bottom: 10%;
  height: 60%;
}

.mainSectionTitle{
  border-top: solid;
  border-bottom: solid;
  border-color: #d6f0cc;
  border-width: 2px;
  padding: 5px;
  font-size: 2em;
}

.mainArticle{
  height: 500px;
  overflow-y: scroll;
  margin-top: 12px;
  border: solid;
  border-width: 2px;
  border-color: #d6f0cc;
  padding: 15px;
  background-position: right bottom;
  background-image: url();
  background-clip: 100px;
  background-repeat: no-repeat;
}
.mainArticle p{
  margin-left: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
.DetailSideTitle {
    font-size: 14px;
    padding: 15px 6px 0 6px;
}
.DetailSideContent {
    font-size: 12px;
    padding-top: 15px;
}
.sideTitle span {
  border-bottom: solid;
  border-width: 2px;
  border-color: #fce69f;
}
.mainArticleTitle {
    width: 300px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #fce69f;
    font-size: 13px;
}
.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
.innertable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
}
td {
    border: 1px solid #F5DA81;
    padding: 8px;
}
.td-result {
    width: 50px;
    text-align: center!important;
}
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.th-num {
    width: 50px;
}
.th-que {
    width: 600px;
    text-align: left;
    padding-left: 15px;
}

.buttonSubmit {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    margin: 15px 0px 8px 720px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonSubmit:hover {
    background-color: #555555;
    color: white;
}

.buttonReload {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    margin: 80px 0px 8px 500px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonReload:hover {
    background-color: #555555;
    color: white;
}

.innerline{
    width: 20px;
    height: 70px;
    border: 1px solid #585858;
    border-width: 2px 0px 2px 2px; 
    float: left;
}
.innerResult {
    float: left;
    margin-left: 7px;
    margin-top: 5px;
}
